## Objective

Monitor and Analyze Chronic Disease Trends: The primary purpose of this dataset appears to be monitoring and analyzing trends related to chronic diseases in the United States.


## Research questions

* Trends in Chronic Disease Prevalence: What are the trends in the prevalence of chronic diseases over the years covered by the dataset? Are certain chronic diseases becoming more or less common?

* Geographical Variations: Are there significant geographical variations in the prevalence of specific chronic diseases or health outcomes? Do certain regions have higher or lower rates of chronic conditions?

* Temporal Changes: Have there been significant changes in the rates of chronic diseases over the years in different locations? Are there any notable patterns or fluctuations?

* Health Disparities: Do health disparities exist among different demographic groups (stratification categories)? For example, do certain age groups, genders, or racial/ethnic groups have higher rates of chronic diseases?

* Mortality Trends: Are there trends in mortality rates related to specific chronic diseases? Have mortality rates improved or worsened over time?

In [3]:
# import the libraries

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings("ignore")

In [4]:
# Read the file
df = pd.read_csv("U.S._Chronic_Disease_Indicators__CDI_.csv")

In [5]:
# Find out the number of columns and rows
df.shape

(1185676, 34)

In [6]:
df.head(10)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2010,2010,OR,Oregon,NVSS,Cardiovascular Disease,Mortality from heart failure,NaN,NaN,Number,...,41,CVD,CVD1_4,NMBR,RACE,AIAN,NaN,NaN,NaN,NaN
1,2019,2019,AZ,Arizona,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,4,ALC,ALC1_1,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN
2,2019,2019,OH,Ohio,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,39,ALC,ALC1_1,CRDPREV,GENDER,GENM,NaN,NaN,NaN,NaN
3,2019,2019,US,United States,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,59,ALC,ALC1_1,CRDPREV,RACE,ASN,NaN,NaN,NaN,NaN
4,2015,2015,VI,Virgin Islands,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,78,ALC,ALC1_1,CRDPREV,GENDER,GENM,NaN,NaN,NaN,NaN
5,2020,2020,AL,Alabama,PRAMS,Alcohol,Alcohol use before pregnancy,NaN,%,Crude Prevalence,...,1,ALC,ALC1_2,CRDPREV,RACE,WHT,NaN,NaN,NaN,NaN
6,2015,2015,DE,Delaware,PRAMS,Alcohol,Alcohol use before pregnancy,NaN,%,Crude Prevalence,...,10,ALC,ALC1_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
7,2019,2019,FL,Florida,PRAMS,Alcohol,Alcohol use before pregnancy,NaN,%,Crude Prevalence,...,12,ALC,ALC1_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
8,2018,2018,KS,Kansas,PRAMS,Alcohol,Alcohol use before pregnancy,NaN,%,Crude Prevalence,...,20,ALC,ALC1_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
9,2013,2013,MS,Mississippi,PRAMS,Alcohol,Alcohol use before pregnancy,NaN,%,Crude Prevalence,...,28,ALC,ALC1_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [7]:
df.info() # find out the data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1185676 entries, 0 to 1185675
Data columns (total 34 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   YearStart                  1185676 non-null  int64
 1   YearEnd                    1185676 non-null  int64
 2   LocationAbbr               1185676 non-null  object
 3   LocationDesc               1185676 non-null  object
 4   DataSource                 1185676 non-null  object
 5   Topic                      1185676 non-null  object
 6   Question                   1185676 non-null  object
 7   Response                   0 non-null        float64
 8   DataValueUnit              1033553 non-null  object
 9   DataValueType              1185676 non-null  object
 10  DataValue                  806942 non-null   object
 11  DataValueAlt               804578 non-null   float64
 12  DataValueFootnoteSymbol    393710 non-null   object
 13  DatavalueFootnote          393710 non-null   object
 14  LowConfidenceLimit         682380 non-null   float64
 15  HighConfidenceLimit        682380 non-null   float64
 16  StratificationCategory1    1185676 non-null  object
 17  Stratification1            1185676 non-null  object
 18  StratificationCategory2    0 non-null        float64
 19  Stratification2            0 non-null        float64
 20  StratificationCategory3    0 non-null        float64
 21  Stratification3            0 non-null        float64
 22  GeoLocation                1175510 non-null  object
 23  ResponseID                 0 non-null        float64
 24  LocationID                 1185676 non-null  int64
 25  TopicID                    1185676 non-null  object
 26  QuestionID                 1185676 non-null  object
 27  DataValueTypeID            1185676 non-null  object
 28  StratificationCategoryID1  1185676 non-null  object
 29  StratificationID1          1185676 non-null  object
 30  StratificationCategoryID2  0 non-null        float64
 31  StratificationID2          0 non-null        float64
 32  StratificationCategoryID3  0 non-null        float64
 33  StratificationID3          0 non-null        float64
dtypes: float64(13), int64(3), object(18)
memory usage: 307.6+ MB

In [8]:
# Describing the data
df.describe()

,YearStart,YearEnd,Response,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit,StratificationCategory2,Stratification2,StratificationCategory3,Stratification3,ResponseID,LocationID,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
count,1.185676e+06,1.185676e+06,0.0,8.045780e+05,682380.000000,682380.000000,0.0,0.0,0.0,0.0,0.0,1.185676e+06,0.0,0.0,0.0,0.0
mean,2.015103e+03,2.015643e+03,NaN,1.005325e+03,50.264623,61.873881,NaN,NaN,NaN,NaN,NaN,3.078907e+01,NaN,NaN,NaN,NaN
std,3.320259e+00,3.001197e+00,NaN,1.880433e+04,89.004848,100.104303,NaN,NaN,NaN,NaN,NaN,1.750972e+01,NaN,NaN,NaN,NaN
min,2.001000e+03,2.001000e+03,NaN,0.000000e+00,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN
25%,2.013000e+03,2.013000e+03,NaN,1.610000e+01,11.000000,16.300000,NaN,NaN,NaN,NaN,NaN,1.700000e+01,NaN,NaN,NaN,NaN
50%,2.015000e+03,2.016000e+03,NaN,4.000000e+01,28.500000,41.000000,NaN,NaN,NaN,NaN,NaN,3.000000e+01,NaN,NaN,NaN,NaN
75%,2.018000e+03,2.018000e+03,NaN,7.600000e+01,56.300000,71.100000,NaN,NaN,NaN,NaN,NaN,4.500000e+01,NaN,NaN,NaN,NaN
max,2.021000e+03,2.021000e+03,NaN,2.925456e+06,2541.600000,3530.500000,NaN,NaN,NaN,NaN,NaN,7.800000e+01,NaN,NaN,NaN,NaN

In this dataset most of the columns are not usesful we need to remove the unwanted columns.

## Important columns

 YearStart: the starting year of the data for a particular record.

 YearEnd: the ending year of the data for a particular record (integer).

 LocationDesc: the full name of the state or territory where the data was collected (string).

 Topic: the general topic area of the data, such as "Cancer" or "Diabetes" (string).

 Question: the specific question or aspect of health being measured by the data (string)(e.g. Alcohol use among youth, Alcohol use before pregnancy)

 DataValue: the actual data value for a particular record (double).

 StratificationCategory1: a general category for the stratification variable (e.g. "Race/Ethnicity“)(string).

 Stratification1: a specific category within the general stratification category (string).